*,
:after,
:before,
html {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.6;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  line-height: 1.2em;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.1em;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.1em;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: #4299e1;
  transition: color 80ms ease-out;

  &:hover {
    color: rgb(43, 108, 176);
  }
}

ul,
ol {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0 0 0 1.7rem;
  list-style-position: inside;
}

ul {
  list-style: disc;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0.5em;
}

ol {
  list-style: decimal;
}

em,
strong {
  font-weight: 600;
}

.container {
  max-width: 800px;
  padding: 0 2rem;
  margin: 0 auto;
}
